@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

input {
    all : unset;
}

body {
    background-color: black;
}


* {
    box-sizing: border-box;
  }

a {
    text-decoration: none;
    color: inherit;
}

.link {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
}

.formInput {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid black;
    text-align: center;
    background-color: white;
    color: black;
    ;
}

.formBtn {
    cursor: pointer;
    padding: 7px 20px;
    text-align: center;
    color: white;
    border-radius: 20px;
    background-color: #04aaff;
    cursor: pointer;
  }

.formCancelBtn {
  cursor: pointer;
  background-color: tomato;
  border-style: none;
}

.nweetEdit .formBtn {
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 5px;
  }

/* AuthForm */

.authContainer {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authInput {
    border-radius: 30px;
    padding : 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 12px;
    color: black;
    /* box-sizing: content-box; */
}

.authButton {
    padding: 10px;
    border-radius: 30px;
    background-color: #04aaff;
    color: white;
    text-align: center;
    font-weight: bold;
}

.signupButton {
    margin-top: 10px;
    padding: 10px;
    color: #04aaff;
    text-align: center;
    font-weight: bold;
}

/* NweetFactory */

.factoryForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.factoryContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.factoryInput {
    flex-grow: 1;
    height: 40px;
    padding : 0 20px;
    border: 1px solid #04aaff;
    border-radius: 20px;
}

.factoryArrow {
    position: absolute;
    right : 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #04aaff;
}

.factoryInput_label {
    color: #04aaff;
}

.factoryInput_label span{
    margin-right: 10px;
}

.factoryForm__attachment {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.factoryForm__attachment img {
    height: 80px;
    width: 80px;
    border-radius: 80%;
}

.factoryForm__clear {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: #04aaff;
}

.factoryForm__clear span{
    margin-right: 10px;
}

/* Nweets */
.nweet{
    margin-bottom: 30px;
    background-color: white;
    width: 100%;
    max-width: 320px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, 0.8);
}

.nweet img {
    position: absolute;
    height: 50px;
    width: 50px;
    right: 5px;
    top: 30px;
    border-radius: 80%;
}

.nweet_actions{
    position: absolute;
    right: 10px;
    top:10px;
}

/* Profile */

.profileNav {
    display: flex;
    justify-content: center;
}


.profileForm {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 30px;
    margin-top: 20px;
    border-bottom: solid 1px ;
}

.logout {
    margin: 40px 0;
}